/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* ANIMATIONS */
@keyframes loading {
     from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}


/* CONTAINER */
.container {
    max-width: 95%;
    margin: 0 auto;
}

/* utilitysss */
.fs-4rem {
    font-size: 4rem;
}

.p-10 {
    padding: 10px;
}

/* FLEX */
.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


/* FONT */
.edu-tas-beginner-sm {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sometype-mono-sm {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* HEADER */
header {
    height: 100px;
    background-image: url(../img/wall.png);
}

/* MAIN */
main {
    background-image: url(../img/cork.png);
    min-height: 100vh;
    background-size: contain;
    padding-top: 30px;
    padding-bottom: 30px;

}

#spinner{
    animation-name: loading;
    animation-duration: 15s;
}

.col {
    width: calc(100%);
    background-color: white;
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#pin {
    position: absolute;
    right: 50%;
    top: -15px;
    transform: translate(50%);
}

.text {
    padding-top: 10px;
    padding-left: 20px;
}

.data {
    font-family: "Sometype Mono", monospace;
    color: gray;
    font-size: 1.2rem;
}

.titolo {
    font-family: "Edu TAS Beginner", cursive;
    font-size: 2rem;
    font-weight: 800;
}

.overview{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    display: none;
}

.overview > div{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 30%;
}

.overview button{
    font-size: 2rem;
    background-color: red;
    color: white;
    position: fixed;
    top: -70px;
    right: 50%;
    transform: translate(50%, 0);
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* HOVER */

.col:hover{
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.7);
    transform: scale(1.1) rotate(10deg);
}

.col:hover img{
}

.col:hover #pin {
    display: none;
}

.spinner-div{
    text-align: center;
}

#spinner{
    transform: rotate(10deg);
}

