/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* utilitysss */




/* FONT */
.edu-tas-beginner-sm> {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.sometype-mono-sm {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}